{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div style="margin: auto; text-align: center;">
                <h1>
                    Zlien Task
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
