{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                display Customer Reports
            </div>
        </div>
    </div>
{% endblock %}
