{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                Display All Reports
            </div>

            <div>

            </div>
        </div>
    </div>
{% endblock %}
