{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                <h1>
                    Orders Report
                </h1>
            </div>
            <table style="width:100%">
                <thead>
                <tr>
                    <th>Customer name</th>
                    <th>Project Name</th>
                    <th>Project Address</th>
                    <th>Project City</th>
                    <th>Project State</th>
                    <th>Project Zip</th>
                    <th>Project Start Date</th>
                    <th>Project Deadline</th>
                </tr>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.getCustomerName() }}</td>
                        <td>{{ project.getName() }}</td>
                        <td>{{ project.getAddress() }}</td>
                        <td>{{ project.getCity() }}</td>
                        <td>{{ project.getState() }}</td>
                        <td>{{ project.getZip() }}</td>
                        <td>{{ project.getStartDate().toDateString() }}</td>
                        <td>{{ project.getDeadLine().toDateString() }}</td>
                    </tr>
                {% endfor %}
                </thead>
            </table>

        </div>
    </div>
{% endblock %}
