{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                {% if error is not empty %}
                    <div>
                        {{ error }}
                    </div>
                {% endif %}

                <form action="{{ path('report_post_upload') }}" method="POST" enctype="multipart/form-data">
                    <div>
                        Select CSV file that you want to upload:
                    </div>
                    <br>
                    <input type="file" name="orders" id="orders">
                    <br><br>
                    <input type="submit" value="Upload File" name="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
